<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="shortcut icon" type="image/png" href="../assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="../build/main.css"/>
    <link type="bml" href="../build/blocks.bml.js"/>
    <script type="text/javascript" src="../lib/beast.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<script type="bml">{{{body}}}</script>
</html>
